<p>自分専用のお気に入りスポットを記録しよう！</p>

<% if user_signed_in? %>
  <div>
    <%= link_to "新規投稿", new_post_path %>
  </div>
<% end %>

<div>
  <% @posts.each do |post| %>
    <div>
      お気に入りスポット:<%= link_to post.address, post_path(post.id) %>
    </div>
  <% end %>
</div>